name: Bad CI Pipeline

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@latest

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y python3 python3-pip
          pip3 install flask

      - name: Run application
        run: python3 laba2_app.py
